@using eda7k.Models.Common
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>@Crypt.GetHashPassword("123")</h1>

<h1>a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3</h1>
<button id="button">Отправить запрос</button>
<button id="button_auth">Авторизация</button>
<div id="textbox">132</div>
@section scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('#button').click(function (e) {
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    method: "POST",
                    url: "/admin/massiv",
                    dataType: "json",
                    success: function (products) {
                        $("#textbox").textContent += products;
                        var group = JSON.stringify(products);
                        console.log(group);
                        $.ajax({
                            dataType: 'json',
                            contentType: "application/json",
                            type: "POST",
                            url: "/admin/massiv2",
                            data: group,
                            success: function (data) {
                                //debugger
                                console.log("output : " + JSON.stringify(data));
                                data.forEach(
                                    element => {
                                        $("#textbox").text($("#textbox").text() + " " + element.id);
                                    }
                                );
                            },
                            error: function (er) {
                                console.log(er);
                            }
                        });
                        
                    },
                    error: function (er) {
                        console.log(er);
                    }
                });
            })
        });



        $(document).ready(function () {
            $('#button_auth').click(function (e) {
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    method: "POST",
                    url: "/Authentication/Authentication",
                    data: {
                        "login": "admin",
                        'password': "admin",
                    },
                    success: function (data) {
                        $("#textbox").text($("#textbox").text() + " " +data);
                        
                    },
                    error: function (er) {
                        console.log(er);
                        console.log(123);
                    }
                });
            })
        });
    </script>
}

