@using eda7k.Models.Common
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Index.css">

<div id="Welcome">
    Составьте меню на завтра
</div>


<table id="table">
    <tr>
        <th width="250">Блюдо</th>
        <th width="250">Категория</th>
        <th width="150">Цена</th>
        <th width="150">Наценка</th>
        <th width="200">Будет ли завтра</th>
    </tr>
    <tr v-for="item in data">
        <td>
            <input type="hidden" v-model="item.id" />
            <input v-model="item.name"/>
        </td>
        <td>
            <input v-model="item.category_id"/>
        </td>
        <td>
            <input v-model="item.price"/>
        </td>
        <td>
            <input v-model="item.extra" />
        </td>
        <td>
            <input type="checkbox" v-model="item.availability_tomorrow" />
        </td>
    </tr>
</table>

@section scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        async function getData() {
            return await fetch("admin/GetProducts", {
                method: 'POST'
            })
        }

        const Table = {
            data() {
                return {
                    data: []
                }
            },
            async mounted() {
                const response = await getData();
                let data = await response.json();
                console.log(data)
                this.data = data;
            },
            methods:{

            }
        }

        Vue.createApp(Table).mount('#table')
    </script>

    <script>
        $(document).ready(function () {
            $('#button').click(function (e) {
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    method: "POST",
                    url: "/admin/massiv",
                    dataType: "json",
                    success: function (products) {
                        $("#textbox").textContent += products;
                        var group = JSON.stringify(products);
                        console.log(group);
                        $.ajax({
                            dataType: 'json',
                            contentType: "application/json",
                            type: "POST",
                            url: "/admin/massiv2",
                            data: group,
                            success: function (data) {
                                //debugger
                                console.log("output : " + JSON.stringify(data));
                                data.forEach(
                                    element => {
                                        $("#textbox").text($("#textbox").text() + " " + element.id);
                                    }
                                );
                            },
                            error: function (er) {
                                console.log(er);
                            }
                        });
                        
                    },
                    error: function (er) {
                        console.log(er);
                    }
                });
            })
        });



        $(document).ready(function () {
            $('#button_auth').click(function (e) {
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    method: "POST",
                    url: "/Authentication/Authentication",
                    data: {
                        "login": "admin"
                    },
                    success: function (data) {
                        $("#textbox").text($("#textbox").text() + " " +data);
                        
                    },
                    error: function (er) {
                        console.log(er);
                        console.log(123);
                    }
                });
            })
        });
    </script>
}

