@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<button class="button">Отправить запрос</button>
<div id="textbox">132</div>
@section scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('button').click(function (e) {
                // Stop form from sending request to server
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    method: "POST",
                    url: "/admin/massiv",
                    dataType: "json",
                    data: {
                        "name": btn.val(),
                        'input': $('input').val()
                    },
                    success: function (data) {
                        $("#textbox").textContent += data;
                        data.forEach(
                            element => {
                                $("#textbox").text($("#textbox").text() + " " + element.id);
                            }
                        );
                        

                    },
                    error: function (er) {
                        console.log(er);
                    }
                });
            })
        });
    </script>
}

