
<link rel="stylesheet" href="~/css/Login.css">

<div id="login_form">
    
    <form id="input_form">
        <div style="text-align: center">
            Авторизация             
        </div>
        <input placeholder="Введите логин Moodle " id="input_login">
        <button class="button" id="button_login">Войти</button>

    </form>
</div>
<div id="fraza">
    Соус? Масло? <br>
    Говорим!
</div>






@section scripts
    {
    
    <script>
        $(document).ready(function () {
            $('#button_login').click(function (e) {
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    method: "POST",
                    url: "/account/login",
                   data: { login : $('#input_login').val()},
                   success: function (data) {
                        $("#textbox").text($("#textbox").text() + " " +data);
                        window.location.replace("../home");
                        },
                   error: function (er) {
                        console.log(er);
                        console.log(123);
                        }
                });
            })
        });
    </script>
}
