#Welcome {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #ff6a00;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

body {
    background-color: antiquewhite;
}

#Tablica {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 17px;
    margin: auto;
    margin-top:20px;
    border: 5px double black;
}
td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid black; /* Рамка вокруг ячеек */
}
