.table2 {
    margin-top: 25px;
    gap:20px;
}

body {
    background-color: antiquewhite;
    display: block;
}

#Welcome {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #ff6a00;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#table{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.text-center {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.plus-minus {
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 7px;

}

.minus {
    height:30px;
    width:30px;
    
}

.plus {
    height: 30px;
    width: 30px;
    
}

td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid black; /* Рамка вокруг ячеек */
}

.Order {
    margin-top: 10px;
}

.order-info {
    width: 300px;
    display: flex;
    gap: 20px;
    border: 1px solid black;
}

.orders {
    margin-top: 20px;
    width: 950px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.left-item {
    width: max-content;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px solid black;
}

.right-item {
    margin: auto;
}
